.ff{
    background-color:lavenderblush;
    margin:5px;
    border: 10px ridge crimson;
    text-align: center;
    color:rgb(61, 138, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.fd{
    margin:3px;
    border: 5px ridge rgb(48, 12, 12);
}
h1{
    background-color:rgb(199, 12, 12);
    color:rgb(243, 188, 8);
    padding:20px;
    text-align: center;
}
.myform input{
    margin:5px;
}

body{
    background-color:lavenderblush;
}